.contacts__content {
    gap: 32px;
}

.contacts__block {
    gap: 20px;
}

.contacts__title {
    color: var(--black);
}

.contacts__elems {
    gap: 12px;
}

.contacts__elem {
    font-size: var(--fs-3);
    color: var(--black);
    line-height: 24px;
}

.contacts__elem span {
    color: var(--blue);
}

.contacts__map {
    border-radius: var(--br-1);

    overflow: hidden;
}

@media (max-width: 500px) {
    .contacts__map iframe {
        height: 250px;
    }
}