.footer {
    padding: 44px;

    background-color: var(--black);
}

.footer__wrapper {
    gap: 32px;
    margin: 0 auto;

    max-width: 1100px;
}

.footer__top {
    gap: 60px;
    align-content: start;
}

.footer__logo {
    height: 50px;
    width: auto;
}

.footer__nav-area {
    gap: 20px;
}

.footer__nav {
    gap: 16px;
    align-content: start;
}

.footer__legend {
    padding-left: 20px;

    color: var(--dark-grey);
    font-size: var(--fs-4);
    line-height: 18px;
}

.footer__nav-elem {
    padding: 12px 20px;

    color: var(--white);
    font-size: var(--fs-5);
    line-height: 18px;
}

.footer__sparator {
    width: 100%;
    height: 2px;

    border-radius: 1px;
    background-color: var(--light-black);
}

.footer__descr {
    color: var(--dark-grey);
    font-size: var(--fs-5);
    line-height: 18px;
}

@media (max-width: 850px) {
    .footer__top {
        gap: 28px;
    }

    .footer__logo {
        height: 40px;
    }
}

@media (max-width: 750px) {
    .footer__top {
        flex-direction: column;
    }

    .footer__legend {
        padding-left: 0;
    }

    .footer__nav-elem {
        padding: 12px 20px 12px 0;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 24px 16px;
    
        background-color: var(--black);
    }
}

@media (max-width: 430px) {
    .footer__logo {
        height: 30px;
    }
}

@media (max-width: 350px) {
    .footer__nav-area {
        flex-direction: column;
    }
}

@media (hover: hover) {
    .footer__nav-elem.hover:hover {
        color: var(--main);
    }
}